DOCTYPE
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pomodoro CLock
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", type="text/css", href="css/main.css")

  body
    .container
      .row
        .col-xs-2.h1-wrapper
          h1.title Pomodoro

        .col-xs-8.timer-wrapper
          .row
            .col-xs-12.progress-circle
              .row.interval-set
                .col-xs-12
                  h3.interval Session
              .row.time-left
                .col-xs-12
                  h1.timer 25:00
              .row.controls
                .col-xs-4
                  i(class="fa fa-play-circle play", aria-hidden="true")
                .col-xs-4
                  i(class="fa fa-pause-circle pause", aria-hidden="true")
                .col-xs-4
                  i(class="fa fa-stop-circle stop", aria-hidden="true")

        .col-xs-2.settings-wrapper
          .row.session-wrapper
            .col-xs-1.session Session
            .col-xs-6.settings
              i(class="fa fa-plus-circle increase-session", aria-hidden="true")
              .session-time 25
              i(class="fa fa-minus-circle decrease-session", aria-hidden="true")

          .row.break-wrapper
            .col-xs-4.break Break
            .col-xs-6.settings
              i(class="fa fa-plus-circle increase-break", aria-hidden="true")
              .break-time 5
              i(class="fa fa-minus-circle decrease-break", aria-hidden="true")

      script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
      script(src="scripts/main.js")
